{% extends "base_template.html" %}

{% block title %}Live матчи{% endblock %}
{% block header_icon %}Live{% endblock %}

{% block content %}
    <div class="stats" id="stats">Загрузка данных...</div>
    <div id="matches-table">
        <div class="loading">🔄 Загрузка данных матчей...</div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/utils.js"></script>
    <script src="/static/app.js"></script>
    <script src="/static/chart.js"></script>
    <script src="/static/websocket.js"></script>
{% endblock %}